<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div class="container">
    <div>
        <h1>Hello Spring</h1>

        <div th:if="${#authorization.expr('isAuthenticated()')}">
            <p th:text="${#authentication.name} + ' 님 로그인 되었습니다.' + ${#authentication.authorities}">Name</p>
            <a href="/logout">로그아웃</a>
            <a href="/members">회원 목록</a>
        </div>
        <div th:unless="${#authorization.expr('isAuthenticated()')}">
            <a href="/members/new">회원가입</a>
            <a href="/login">로그인</a>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>